<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class = "row">
    <div class = "col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>

            <%= f.label :password, t(".label_password") %>
            <%= f.password_field :password, class: "form-control"%>

<<<<<<< HEAD
            <%= f.label :remember_me, class: "chechkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span><%= t(".check_box_remember") %></span>
            <% end %>

=======
>>>>>>> chapter8
            <%= f.submit t(".btn_login"), class: "btn btn-primary" %>
        <% end %>

        <p> <%= t(".t1") %> <%= link_to t(".btn_sigup"), sigup_path %></p>
    </div>
</div>
