<% provide(:title,t(".title")) %>
<div class="text-center mb-5">
    <h1><%= t(".text") %></h1>
</div>
<div class = "row gx-5 justify-content-center">
    <div class = "col-lg-8 col-xl-6">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>

            <div class="form-floating mb-3">
                <%= f.email_field :email, class: "form-control" %>
                <%= f.label :email %>
            </div>

            <div class="d-grid">
                <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
