<li id="comment-<%= comment.id %>" class = "list-group-item">
    <% micropost=Micropost.find_by(id: comment.micropost_id) %>
    <%= link_to gravatar_for(comment.user, size: 20), comment.user %>
    <span class="user"><%= link_to comment.user.name, comment.user %></span>
    <span class="content">
        <%= comment.content %>
    </span>
    <h1><%= %></h1>
    <span class="timestamp">
        <%= t("microposts.micropost.post_ago",time: time_ago_in_words(comment.created_at)) %>
        <% if comment.parent_comment_id.nil? %>
            <%= link_to "Trả lời", new_micropost_comment_comment_path(micropost,comment), 
                            remote: true,id: "btn_post" %>
            <% if comment.user.current_user?(current_user) %>
                <%= link_to "delete", comment, remote: true, method: :delete,
                                    data: { confirm: "You sure?" } %>
            <% end %>
            <div id="micropost_<%= "#{micropost.id}_show_sub_comment_#{comment.id}" %>">
                <% @comments = comment.sub_comments.paginate(page: params[:page]) %>
                <ul id="list_comment_micropost_<%= micropost.id %>" class="list-unstyled">
                    <% if @comments.any? %>
                        <%= render partial: "comments/comment", collection: @comments %>     
                    <% end %>
                </ul>
            </div>
            <div id="form_comment-<%= micropost.id %>-<%= comment.id %>" class="form_comment">
            </div>
        <% else %>
            <%= link_to "Trả lời", new_micropost_comment_comment_path(micropost,comment.parent_comment_id), 
                            remote: true,id: "btn_post" %>
            <% if comment.user.current_user?(current_user) %>
                <%= link_to "delete", comment, remote: true, method: :delete,
                                    data: { confirm: "You sure?" } %>
            <% end %>
        <% end %>
    </span>
</li>
