<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <%= link_to image_tag("logo.svg", atl: "Logo", height: "40px"), root_path, class:"navbar-brand" %>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><%= link_to t(".btn_home"), root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t(".btn_help"), help_path, class: "nav-link" %></li>
                <% if logged_in? %>
                    <li><%= link_to t(".btn_user"), users_path, class: "nav-link" %></li>
                    <li class="nav-item dropdown">
                        <%= link_to t(".btn_account"), "#", class: "nav-link dropdown-toggle", id: "dropdownMenuButton", data: {bs_toggle: "dropdown"} %>
                        <ul class = "dropdown-menu dropdown-menu-end", role ="menu" aria-labelledby="dLabel">
                            <li><%= link_to t(".btn_profile"), current_user, class: "dropdown-item" %></li>
                            <li><%= link_to t(".btn_setting"), edit_user_path(current_user), class: "dropdown-item" %></li>
                            <li class = "dropdown-divider"></li>
                            <li>
                                <%= link_to t(".btn_logout"), logout_path, class: "dropdown-item", method: :delete %>
                            </li>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to t(".btn_login"), login_path, class: "nav-link" %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
