<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <%= link_to "sample app", root_path,class: "navbar-brand", id: "logo" %>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><%= link_to t(".btn_home"), root_path, class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                <li class="nav-item"><%= link_to t(".btn_help"), help_path, class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                <% if logged_in? %>
                    <li class="nav-item"><%= link_to t(".btn_user"), users_path, class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                    <div class="dropdown">
                        <%= link_to t(".btn_account"), "#", class: " btn btn-primary dropdown-toggle", data: {toggle: "dropdown"} %>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <%= link_to t(".btn_profile"), current_user, class: "dropdown-item" %>
                            <%= link_to t(".btn_setting"), edit_user_path(current_user), class: "dropdown-item" %>
                            <div class = "divider"></div>
                            <%= link_to t(".btn_logout"), logout_path, class: "dropdown-item", method: :delete %>
                        </div>
                    </div>
                <% else %>
                    <li><%= link_to t(".btn_login"),login_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url('assets/super.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
